*{
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'Exodus';
    src: url(assets/fonts/Exodus-PersonalUse-Sharpen.otf) format('truetype');
}


body{	
  background: url(assets/imgs/4.jpg) no-repeat;
  background-size: cover;
 
}

header{
	height: 300px;
	max-width: 1024px;
	background-color: #312b2faa;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.img{
	height: 150px;
}


.title{
 	height: 150px;
 	color: #cfc5bc;
 	font-family: 'Exodus';
 	font-size: 20px;
}
header img{
	width: 150px;
	border-radius: 100%;

}

main{
	height: 800px;
	max-width: 1024px;
	margin: auto;
}

.left{
	background-color: #c2c8c5aa;
	height: 200px;
	width: 35%;

}

.right{
	background-color: #808080aa;
	width: 65%;
	height: 200px;
}

section{
	display: flex;
}


footer{
	height: 100px;
	max-width: 1024px;
	background-color: #312b2faa;
	margin: auto;
}


