*{
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'Exodus';
    src: url(assets/fonts/Exodus-PersonalUse-Sharpen.otf) format('truetype');
}

body{	
  background: url(assets/imgs/4.jpg) no-repeat;
  background-size: cover;
 
}

header{
	height: 300px;
  max-width: 1024px;
	background-color: #312b2faa;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.line{
	height: 250px;
	width: 4px;
	background:#1e1e1e;
	position: absolute;
	transform: rotate(40deg);
	top:-50px;
	right: 50%;
}

.contacts{
	display: flex;
	width: 300px;
	display: inline-block;
	margin-top: 15px;
}

.contacts img{
	width: 50px;
	height: 50px;
	margin: 5px;
}
h1{
	color: #fff0bd;
	font-family: 'Exodus';
	font-size: 60px;
	letter-spacing: 7px;
	border-bottom: 4px solid #1e1e1e;
	padding-left: 30px;
}

h2{
	font-size: 20px;
	color: #fff0bd;
	letter-spacing: 7px;
	font-size: 25px;
	margin-top: 15px;
	padding-left: 100px; 
}

h3{
	margin-top: auto;
}

.img{
	height: 150px;
	position: relative;
}

img{
	position: relative;
	z-index: 3;
}


.title{
	 height: 150px;
	 text-align: center;

}
header img{
	width: 150px;
	border-radius: 100%;

}

main{
	height: 600px;
	max-width: 1024px;
	margin: auto;
}

.left{
	background-color: #c2c8c5aa;
	height: 200px;
	width: 35%;
	font-family: 'AlgeriusRough';
	font-size: 40px;
	color: black;
  text-align: center;

}

.right{
	background-color: #808080aa;
	width: 65%;
	height: 200px;
	font-size: 20px;
}

section{
	display: flex;
}


footer{
	height: 100px;
	max-width: 1024px;
	background-color: #312b2faa;
	margin: auto;
}


